.background {
    background: url(../../../assets/images/logo/Rectangle.png);
    width: 68px;
    height: 65px;
    margin: 0 auto;
    position: relative;
    transform: scale(0.95);
}

.foreground {
    background: url(../../../assets/images/logo/Ve.png) no-repeat center center;
    width: 68px;
    height: 65px;
    transform: scale(0.95);
}

.title {
    background: url(../../../assets/images/logo/VeChat.png);
    width: 174px;
    height: 54px;
    margin: 15px auto; 
    transform: scale(0.95);
}