p {
    font-weight: 700;
    margin: 0;
    margin-left: 10px;
    line-height: 38px;
}

.container {
    padding: 15px;
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
    display: flex;
}

.img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 28px;
    height: 28px;
}

.image {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    position: relative;
}